/**
* HelveticaNeue
*/
@font-face {
  font-family: 'HelveticaNeueRoman';
  src: url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot') format('eot'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf')  format('truetype')
}
@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot') format('eot'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf')  format('truetype')
}
@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot') format('eot'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf')  format('truetype')
}
@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot') format('eot'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf')  format('truetype')
}

/**
* MuseoSans
*/
@font-face {
  font-family: 'MuseoSans';
  src: url('./../fonts/MuseoSans/MuseoSansCyrl300.ttf')  format('truetype')
}
