$font-helvet-bold: 'HelveticaNeueCyrBold',sans-serif;
$font-helvet-light: 'HelveticaNeueCyrLight',sans-serif;
$font-helvet-medium: 'HelveticaNeueCyrMedium',sans-serif;
$font-helvet-roman: 'HelveticaNeueRoman',sans-serif;
$font-museo: 'MuseoSans',sans-serif;

$white: #ffffff;
$black: #000000;
$dark-blue: #10172f;
$link-blue: #3a91e2;
$green: #0dc769;
$red: #f7343d;